
@{
    var dataList = (List<Movie>)ViewData["movies"];
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    HELLO FROM CUSTOM END-TO-END PAGE
    @foreach (Movie movie in dataList)
    {
        <h1>@movie.Name</h1>
    }
</div>
</body>
</html>