@{
    ViewData["Title"] = "Messages";
}

<div class="container-fluid bg-danger">
    <div class="row">
        <div class="col-4 bg-primary">
            USERS
        </div>
        <div class="col-8 bg-body">
            MESSAGES
        </div>
    </div>
</div>