@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="~/images/profile.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jon Doe</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="#" class="btn btn-outline-primary w-100">Profile</a>
                  </li>
                  <li class="list-group-item">
                      <a href="#" class="btn btn-outline-primary w-100">Update Password</a>
                  </li>
                  <li class="list-group-item">
                      <a href="#" class="btn btn-outline-primary w-100">Delete Account</a>
                  </li>
                  

              </ul>
            </div>
        </div>
        <div class="col-8"></div>
    </div>
</div>